img {
  border: black;
  border-style: solid;
}


.md-typeset__table td, th {
  border-right: .1rem solid black;
  border-top: .1rem solid black;
  border-left: .1rem solid black;
  border-bottom: .1rem solid black;
}

.md-typeset__table tr:nth-child(even) {
  background-color: lightgreen;
}

