site_name: My Docs
use_directory_urls: true

theme:
  name: 'material'
  font:
    text: 'Meiryo UI'
    code: 'Consolas'
  language: 'ja'
  feature:
    tabs: true
  palette:
    primary: "Indigo"
    accent: "Green"
  # name: 'readthedocs'

extra_css:
  - 'css/material.css'
  - 'css/mermaid.css'
  - 'css/fontawesome-all.css'
  - 'css/lightbox.css'

extra_javascript:
  - 'js/mermaid.js'
  - 'js/fontawesome-all.js'
  - 'js/lightbox-plus-jquery.js'

markdown_extensions:
  - lightbox
  - plantuml
  - codehilite:
      linenums: true # 行番号を付与
      use_pygments: true # Pygmentsを使用
  - admonition
  - toc:
      permalink: true # permalinkを作成
      separator: "_"  # リンクの区切り文字を設定
      marker: "[TOC]" # 目次に置き換える文字列
      # title: "C" # 目次のタイトル。これを変更すると何故かmaterialテーマの目次が表示されなくなる。
  - abbr
  - attr_list
  - def_list
  - tables
  - footnotes
  - fenced_code
  - wikilinks
  - markdown_include.include:
      base_path: docs
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.snippets:
      base_path: docs
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.keys
  - pymdownx.mark

