site_name: My Docs
use_directory_urls: true

theme:
  name: 'material'
  custom_dir: 'theme'
  font:
    text: 'Meiryo UI'
    code: 'Consolas'
  language: 'ja'
  feature:
    tabs: true
  palette:
    primary: "Indigo"
    accent: "Green"
  # name: 'readthedocs'
  # name: 'mkdocs'

repo_name: 'typetonk2/mkdocs-test'
repo_url: 'https://github.com/typetonk2/mkdocs-test'

extra_css:
  - 'css/common.css'
  - 'css/material.css'
  - 'css/mermaid.css'
  - 'css/fontawesome-all.css'
  - 'css/lightbox.css'
  - 'css/zoom.css'
  - 'css/chart.min.css'

extra_javascript:
  - 'js/mermaid.js'
  - 'js/fontawesome-all.js'
  - 'js/lightbox-plus-jquery.js'
  - 'js/zoom.js'
  - 'js/transition.js'

markdown_extensions:
  # - lightbox
  - plantuml-markdown:
      format: png
  - codehilite:
      linenums: true # 行番号を付与
      use_pygments: true # Pygmentsを使用
  - admonition
  - toc:
      permalink: true # permalinkを作成
      separator: "_"  # リンクの区切り文字を設定
      marker: "[TOC]" # 目次に置き換える文字列
      # title: "C" # 目次のタイトル。これを変更すると何故かmaterialテーマの目次が表示されなくなる。
  - abbr
  - attr_list
  - def_list
  - nl2br
  - tables
  - footnotes
  - fenced_code
  - wikilinks
  - sane_lists
  - markdown_blockdiag:
      format: svg
  - markdown_include.include:
      base_path: docs
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.snippets:
      base_path: docs
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.betterem:
      smart_enable: 'underscore'
  # - del_ins

